* {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: rgb(232, 241, 229);
}

body {
  background-color: rgb(2, 61, 27);
}

h2 {
  padding: 20px;
}

input {
  padding: 4px;
  border: 1px solid rgb(11, 41, 1);
  border-radius: 6px;
  font-size: 16px;
  color: rgb(11, 41, 1);
}

#state-value {
  padding: 30px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 25px;
}

#div-logo {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 50%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  font-size: 20px;
}

li {
  padding: 6px;
}

#incomes-and-expences {
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 61, 27);
}

.div-input {
  padding: 6px;
  background-color: rgb(2, 61, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-input-and-list {
  padding: 6px;
  width: 100%;
}

input {
  width: 95%;
}

.btn {
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: #247527;
  border: 1px solid rgb(232, 241, 229);
  color: rgb(232, 241, 229);
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
}

.btn2 {
  background-color: #155817;
  border: 1px solid rgb(232, 241, 229);
  color: rgb(232, 241, 229);
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 6px;
}

p {
  font-weight: 600;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

#sum-of-incomes {
  display: flex;
  justify-content: center;
}

#sum-of-expenses {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  #incomes-and-expences {
    flex-direction: row;
    width: 60%;
  }
  #div-logo {
    width: 70%;
    height: 70%;
  }
}
